fastapi
uvicorn
torch
transformers
peft
trl
wandb
datasets
yfinance
pandas
numpy
requests
tqdm
pydantic
psycopg2-binary
bs4
beautifulsoup4
streamlit
streamlit_extras
jinja2
googletrans
